
@{
    ViewBag.employee = true;
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}


@if (!ViewBag.Form)
{
    if (ViewBag.errorMessage != null)
    {
        <p class="warn-message">@ViewBag.errorMessage</p>
    }
    <form method="post">
        <div class="input-field col s12 field">
            <input id="username" class="input-field col s12 field text-input" type="text" name="username" />
            <label for="username">Username</label>
        </div>
        <div class="input-field col s12 field">
            <input id="password" class="text-input" type="password" name="password" />
            <label for="password">Password</label>
        </div>
        <input class="sumbit-button waves-effect waves-light btn" type="submit" value="Login" />
    </form>
    <div class="spacer"></div>
}