<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../Angular/app.js"></script>
    <script src="../Angular/controller.js"></script>
</head>
<body ng-app="">
    User: {{customer.username}}
    <br />
    Account Nickname: <input type="text" id="account_name_box" />
    <br />
    Account Type: <select id="account_type_dropdown">
        <option ng-repeat="type in account_types" value="{{type.index}}">{{type.text}}</option>
    </select>
    Initial Deposit: <input type="number" id="deposit_amount_box" />
    <br />
    <button onclick="clickAdd();">Add an account</button>
    <br />
    <table>
        <tr>
            <td>Account Number</td>
            <td>Account Name</td>
            <td>Account Balance</td>
        </tr>
        <tr ng-repeat="account in accounts">
            <td>{{account.number}}</td>
            <td>{{account.name}}</td>
            <td>{{account.balance}}</td>
        </tr>
    </table>
    <br />
    <select id="delete_account_dropdown">
        <option ng-repeat="account in accounts" value="{{account.number}}">{{account.name}}</option>
    </select>
    <button onclick="clickDelete();">Delete this account</button>
    <script>
        function clickAdd() {
            var name = document.getElementById("account_name_box").value;
            var type = document.getElementById("account_type_dropdown").value;
            var deposit = document.getElementById("deposit_amount_box").value;
        }

        function clickDelete() {
            var account = document.getElementById("delete_account_dropdown").value;
        }
    </script>
</body>
</html>