<!DOCTYPE html>

<html>
<head>
    <!--<meta name="viewport" content="width=device-width" />-->
    <link rel="stylesheet" type="text/css" href="~/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/css/materialize/materialize.css" />
    <script type="text/javascript" src="~/js/materialize/bin/materialize.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
     @RenderBody()
</body>
</html>
