<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="~/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="~/css/main.css" />
        <link rel="stylesheet" type="text/css" href="~/css/materialize/materialize.css" />
        <script type="text/javascript" src="~/js/materialize/materialize.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="shortcut icon" type="image/png" href="~/images/aspire-logo.png" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
         @RenderBody()
    </body>
</html>
