<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>
<body>
    <h1>Accounts</h1>
    <br><br><br>
    <table>
        <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Account Type</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td>123456</td>
            <td>Personal Checking</td>
            <td>Checking</td>
            <td>$1,000.00</td>
        </tr>
    </table>
</body>
</html>
