@using CS_499_Project.Object_Classes
@{
    ViewBag.title = "Bill Pay";
    ViewBag.FormTitle = "Pay a Bill";
    Layout = "/Views/Shared/_FormLayout.cshtml";
}


@if (ViewBag.Accounts != null)
{
<form method="post">
    <div class="input-field col s12 text-white" id="to">
        <div><label for="to">Pay Bill For:</label></div>
        <select id="selectTo" name="acctTo" class="select">
            @foreach (AccountInterface act in ViewBag.Accounts)
            {
                if (act.getAccountType() == AccountType.MORTGAGE || act.getAccountType() == AccountType.CREDIT)
                {
                    <option value="@act.accountNumber()"> @act.DisplayName </option>
                }
            }
        </select>
    </div>

    <br class="little-space" />
    <div class="input-field col s12 text-white" id="from">
        <div><label for="from">Transfer From:</label></div>
        <select id="selectFrom" name="acctFrom" class="select">
            @foreach (AccountInterface act in ViewBag.Accounts)
            {
                if (act.getAccountType() != AccountType.MORTGAGE || act.getAccountType() != AccountType.MONEY_MARKET)
                {
                    <option value="@act.accountNumber()"> @act.DisplayName </option>
                }
            }
        </select>
    </div>

    <br class="little-space" />
    <div class="input-field col s12 text-white">
        <label for="amount">Amount to Transfer:</label>
        <input class="select" type="number" id="amount" name="amount" value="" step="0.01" />
    </div>
    <br class="little-space" />
    <button class="sumbit-button waves-effect waves-light btn light-green accent-2 grey-text text-darken-3" type="submit">
        Pay Bill
    </button>
</form>
}