@{
    Layout = "_HeaderLayout";
}

<p>You probably don't belong here! Click the button below to go where you do belong!</p>
<br />
<br />
<a href="@Url.Action("Dashboard","User")"><button type="button">Go</button></a>