#accounts-wrapper {
    border: 1px solid #5bb772;
    padding-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
}

#accounts-table {
    padding: 5px;
    display: inline-block;
    width: 65%;
    border-collapse: collapse;
}

#accounts-table td {
        border: 1px solid #5bb772;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

#accounts-table th {
        padding: 5px;
    }

#account-sidebar {
    display: inline-block;
    float: right;
    border-left: 1px solid #5bb772;
    margin-right: 30px;
    padding: 10px;
    padding-left: 30px;
    top: 100px;
    left: 75%;
    height: 80%;
    width: 20%;
    position: absolute;
    background-color: #A8E070;
}

.account-table {
    border: 1px solid #5bb772;
    border-collapse: collapse;
}

.account-table td {
        border: 1px solid #5bb772;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

.account-table th {
        padding: 5px;
    }

.action-box {
    background-color: #52ba16;
    color: white;
    height: 160px;
    width: 160px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    padding-top: 40px;
    margin-left: 65px;
    margin-right: 65px;
}

.action-text {
    margin-top: 10px;
}

.add-icon {
    background-color: #52ba16;
    height: 40px;
    width: 40px;
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;
    margin-top: 5px;
    vertical-align: sub;
}

#add-img {
    vertical-align: top;
}

#aspire-words {
    text-align: left;
    font-size: 17px;
    line-height: 21px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    color: white;
}

body {
    font-family: "Google Sans";
    color: #525252;
}

.employee-login-form {
    flex-grow: 1;
    margin: 50px 100px;
    padding: 50px;
    background-color: #92d3be;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    color: #444444;
}

.field {
    flex-grow: 1;
    padding: .5em;
    max-width: 500px;
    min-width: 200px;
    color: white;
}

.form {
    flex-grow: 1;
    margin: 50px 100px;
    padding: 50px;
    background-color: #52ba16;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    color: #444444;
}

.form-title {
    font-size: 2rem;
}


h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
    color: #525252;
}

h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

header {
  background-color: #52ba16;
  color: white;
  height: 70px;
  vertical-align: middle;
  width: 100%;
}

#hello-words {
    padding-top: 15px;
    display: inline-block;
    padding-right: 5px;
}

.input-field input[type=text] {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white;
}

.input-field input[type=password] {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white;
}

.input-field input[type=email] {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #FF4000 !important;
    box-shadow: 0 1px 0 0 #FF4000 !important;
}

.input-field label {
    color: white !important;
}

.input-field input:focus + label {
    color: white !important;
}

.layer {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    opacity: 0.6;
}

.left-header {
    text-align: left;
}

.link {
    color: white;
}

#logo {
    float: left;
}

#logo-image {
  display: inline-block;
  padding-top: 5px;
}

#main-content {
    padding-left: 30px;
}

.main-row {
    border: 1px solid #5bb772;
}

.message {
    flex-grow: 1;
    margin: 50px 100px;
    padding: 50px 50px 200px 50px;
    background-color: #FF4000;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    color: #444444;
}

.row .input-field input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important
}

.selected-row {
    background-color: #92d3be;
}

.selected-row td {
    background-color: #92d3be;
}

.selected-row-cell {
    background-color: #92d3be;
}

.spacer {
    flex-shrink: 1;
    height: 10em;
    width: 3em;
}

.sumbit-button {
    background-color: #a8e070;
    flex-grow: 1;
    padding: .5em;
    margin: 0 0.6em;
    max-width: 500px;
    min-width: 200px;
}

.table-header {
    margin-bottom: 0;
}

.table-main-header {
    text-align: left;
    font-size: 23px;
    font-weight: normal;
}

.table-sub-header {
    font-weight: normal;
}

.text-input {
    width: 100%;
}

.trash-icon{
    background-color: #FF4000;
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 3px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
    vertical-align: sub;
}

.trash-icon-small {
    background-color: #FF4000;
    height: 35px;
    width: 35px;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 3px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: text-top;
}

#trash-img
{
    vertical-align: top;
}

.trash-img-small
{
    vertical-align: top;
}

#user-header {
  float: right;
  display: inline-block;
  padding-right: 20px;
  cursor: pointer;
}

#user-image {
    display: inline-block;
}

#user-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    padding-top: 15px;
    border: 1px solid #5bb772;
    background-color: white;
    height: 50px;
}

.user-menu-item {
    color: #525252;
    font-size: 17px;
    margin: 0;
}

.warn-message {
    color: #FF4000;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
    font-size: 1.2rem;
}