
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountDeleted</title>
</head>
<body>

    <p> Account id: @ViewBag.acct_id</p>
    <p> Username: @ViewBag.username</p>

    <a href="./myAccounts/@ViewBag.username">View Account List</a>

</body>
</html>
