
<html>
<head>
    <title>Account Created</title>
</head>
<body>
    <h1>Your Account was sucessfully created</h1>

    Username: @ViewBag.username <br />
    Password: @ViewBag.password <br />
    Role: @ViewBag.role <br />

</body>
</html>
