<!DOCTYPE html>

<html>
<head>
    <title>Create Profile</title>
</head>
<body>
    <h1>Create a New Profile</h1>

    <form action="./CreateAccountConfirmation" method="post">
        User to add account to: <select name="username">
            @foreach (var item in ViewBag.users)
            {
                <option value="@item">@item</option>
            }
        </select>
        <p>Account Display Name: <input type="text" name="name" /> </p>
        <p>Initial Deposit: <input type="number" name="deposit" step="0.01" /> </p>
        <div>
            Account Type:
            <select name="type">
                @foreach (int value in Enum.GetValues(typeof(CS_499_Project.Object_Classes.AccountType)))
                {
                    <option value="@value">@Enum.GetName(typeof(CS_499_Project.Object_Classes.AccountType), value)</option>
                }
            </select>
        </div>
        <p><input type="submit" value="Add Account" /></p>
    </form>

</body>
</html>
