@{
    ViewBag.title = "Success";
    ViewBag.FormTitle = "Your Account was successfully created";
    Layout = "/Views/Shared/_FormLayout.cshtml";
}

        Username: @ViewBag.User <br />
        Full Name: @ViewBag.name <br />
        Role: @ViewBag.role <br />
        E-Mail: @ViewBag.email
        @{
            if (ViewBag.role == "customer")
            {
                <a class="link" href="./CreateAccountForm?user=@ViewBag.User">Create an Account!</a>
            }
        }

        

