@using CS_499_Project.Object_Classes

<!DOCTYPE html>

<html>
<script type="text/javascript">
    function JSRemove() {
        // Doesn't work like it should
        // document.getElementById("selectFrom").remove( document.getElementById("selectTo").selectedIndex );

        var optionlist = new Array();
        var size = document.getElementById("selectFrom").length;
        for (let i = 0; i < size; i++) {
            optionlist[i] = document.getElementById("selectFrom")[i];
        }
        document.getElementById("selectTo").innerHTML = document.getElementById("selectFrom").innerHTML;
        document.getElementById("selectTo").options.remove(
            document.getElementById("selectFrom").selectedIndex );
    }
    
   
</script>
<head>
    <title>title</title>
</head>
<body>

<form method="post">
    Customer username to search:
    <input type="text" name="username" id="username" />
    <input type="submit" />
</form>
@if (!String.IsNullOrEmpty(ViewBag.searched) && (ViewBag.Accounts != null))
{
<form method="post">
    Transfer From Account:
    <select id="selectFrom" name="acctFrom" onchange="JSRemove()">
        @foreach (AccountInterface act in ViewBag.Accounts)
        {
            <option value="@act.accountNumber()"> @act.DisplayName </option>
        }
    </select>
    <br/>

    Transfer To Account:
    <select id="selectTo" name="acctTo">
        @foreach (AccountInterface act in ViewBag.Accounts)
        {
            <option value="@act.accountNumber()"> @act.DisplayName </option>
        }
    </select>
    <br/>
    Amount: <input type="text" id="amount" name="amount" value=""/>
    <br/>
    <button type="submit">Transfer!</button>
</form>
}
<div>

</div>
</body>
</html>