<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>


@foreach (KeyValuePair<string, string> item in ViewBag.ResultDict)
{
    @item.Key @item.Value <br>
}
 <div>

</div>
</body>
</html>