@using CS_499_Project.Object_Classes
@{
    ViewBag.title = "Transfer";
    ViewBag.FormTitle = "Transfer";
    Layout = "/Views/Shared/_FormLayout.cshtml";
}

<script type="text/javascript">
    function JSRemove() {

        var optionlist = new Array();
        var size = document.getElementById("selectFrom").length;
        for (let i = 0; i < size; i++) {
            optionlist[i] = document.getElementById("selectFrom")[i];
        }
        document.getElementById("selectTo").innerHTML = document.getElementById("selectFrom").innerHTML;
        document.getElementById("selectTo").options.remove(
            document.getElementById("selectFrom").selectedIndex);

        $('select').formSelect();
    }
    
   
</script>


@if (ViewBag.Accounts != null)
{
<form method="post">
    <label for="selectFrom">Transfer From:</label>
    <select id="selectFrom" name="acctFrom" onchange="JSRemove()">
        @foreach (AccountInterface act in ViewBag.Accounts)
        {
            <option value="@act.accountNumber()"> @act.DisplayName </option>
        }
    </select>
    <br />

    <label for="selectTo">To:</label>
    <select id="selectTo" name="acctTo">
        @foreach (AccountInterface act in ViewBag.Accounts)
        {
            <option value="@act.accountNumber()"> @act.DisplayName </option>
        }
    </select>
    <br />
        <label for="amount">Amount to Transfer:</label>
        <input type="text" id="amount" name="amount" value="" />
    <br />
    <button type="submit">Transfer!</button>
</form>
}